footer {
  width: 100%;
  background-color: #0282f9;
}

footer .footer-up {
  width: 70%;
  height: 150px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 90;
  position: relative;
}

footer .footer-up .contenitore-cards {
  display: flex;
  align-items: center;
  color: white;
  margin: 0 30px;
  padding: 0 5px;
}

footer .footer-up .contenitore-cards:hover {
  cursor: pointer;
  background-color: #0268c7;
  border-radius: 20px;
}

footer .footer-up img {
  width: 50px;
  margin: 10px;
}

.footer-mid {
  width: 100%;
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.footer-mid .logo-bg {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.footer-mid .logo-bg img {
  position: absolute;
  right: 0px;
  top: -60px;
}

.footer-mid .logo-bg .link-footer {
  display: flex;
  padding-top: 40px;
}

.footer-mid .logo-bg .link-footer .collonna {
  margin-right: 15px;
}

.footer-mid .logo-bg .link-footer h3 {
  color: white;
  margin: 15px 0px;
}

.footer-mid .logo-bg .link-footer ul {
  list-style-type: none;
}

.footer-mid .logo-bg .link-footer li {
  padding: 5px 0px;
}

.footer-mid .logo-bg .link-footer a {
  color: #767676;
  text-decoration: none;
}

.footer-mid .logo-bg .link-footer a:hover {
  color: #0282f9;
  cursor: pointer;
}

.footer-bot {
  width: 100%;
  background-color: #303030;
  height: 100px;
  z-index: 90;
  position: relative;
  display: flex;
  align-items: center;
}

.footer-bot .contenitore-footer-bot {
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-bot .contenitore-footer-bot button {
  background-color: #303030;
  color: white;
  border: solid 2px #0282f9;
  padding: 10px 10px;
}

.footer-bot .contenitore-footer-bot button:hover {
  background-color: #767676;
  cursor: pointer;
}

.footer-bot .contenitore-footer-bot .social-footer {
  display: flex;
  align-items: center;
}

.footer-bot .contenitore-footer-bot .social-footer a {
  color: #0282f9;
  text-decoration: none;
  margin-right: 10px;
}

.footer-bot .contenitore-footer-bot .social-footer img {
  margin: 10px;
}

.contenitore {
  width: 70%;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenitore .logo {
  width: 80px;
}

.contenitore .logo img {
  max-width: 100%;
}

.contenitore nav li {
  display: inline-block;
}

.contenitore nav li a {
  margin: 0 5px;
  text-decoration: none;
  color: #1c1c1c;
  padding: 35px 5px;
}

.contenitore nav li a.active {
  color: #0282f9;
  border-bottom: solid 6px #0282f9;
}

.contenitore nav li a:hover {
  color: #0282f9;
  border-bottom: solid 6px #0282f9;
}

.jumbo {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  background-size: cover;
}

.contenitore-main {
  width: 100%;
  background-color: #1c1c1c;
}

.contenitore-main .button-main-series {
  position: relative;
  width: 40%;
}

.contenitore-main .button-main-series button {
  background-color: #0282f9;
  color: white;
  border: solid 2px #0282f9;
  padding: 10px 30px;
  font-size: 20px;
  position: absolute;
  top: -25px;
  left: 270px;
}

.contenitore-main .button-main-load {
  display: flex;
  justify-content: center;
}

.contenitore-main .button-main-load button {
  background-color: #0282f9;
  color: white;
  border: solid 2px #0282f9;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.contenitore-main .button-main-load button:hover {
  background-color: #0268c7;
  cursor: pointer;
}

.contenuto-main {
  width: 70%;
  margin: 0 auto;
  min-height: 650px;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.banner {
  width: 15%;
  margin: 50px 10px;
}

.banner img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.banner a {
  text-decoration: none;
  color: white;
}

.banner a:hover {
  color: #0282f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.img-cont {
  position: relative;
  height: 70px;
  background-color: #0282f9;
}

.img-cont img {
  position: absolute;
  bottom: 30%;
  left: 15%;
}

.comic_info-top {
  width: 70%;
  margin: 40px auto;
  display: flex;
}

.comic_info-top .row-left {
  width: 70%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.comic_info-top .row-left .blocco {
  display: flex;
}

.comic_info-top .row-left .blocco-verde {
  width: 70%;
  height: 40px;
  background-color: #55ba59;
  margin: 15px 0px;
  align-items: center;
  padding: 0 20px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  border: solid #9af999;
  border-width: 0px 1px 1px 1px;
}

.comic_info-top .row-left .blocco-verde .text-verde {
  color: #9af999;
}

.comic_info-top .row-left .blocco-verde .text-bianco {
  color: white;
}

.comic_info-top .row-left .blocco-verde .text-right {
  color: #9af999;
}

.comic_info-top .row-left .button {
  display: flex;
  width: 30%;
}

.comic_info-top .row-left .button button {
  width: 100%;
  height: 40px;
  background-color: #55ba59;
  margin: 15px 0px;
  color: white;
  border: solid #9af999;
  border-width: 0px 1px 1px 0px;
}

.comic_info-top .row-right {
  width: 25%;
}

.comic_info-bot {
  width: 100%;
  min-height: 300px;
  background-color: #e2e2e2;
}

.comic_info-bot .tabelle {
  width: 70%;
  min-height: 300px;
  margin: 0 auto;
  padding-top: 35px;
  display: flex;
  align-items: flex-start;
}

.comic_info-bot .tabelle table {
  width: 50%;
  border-collapse: collapse;
  margin: 0 30px;
}

.comic_info-bot .tabelle table th {
  text-align: left;
  padding: 5px 0px;
}

.comic_info-bot .tabelle table tr {
  border-bottom: 1px solid black;
}

.comic_info-bot .tabelle table tr td {
  padding: 10px 0px;
}

