.img-cont{
    position: relative;
    height: 70px;
    background-color: $coloreBlu;

    img{
        position: absolute;
        bottom: 30%;
        left: 15%;
    }
}


.comic_info-top{
    width: 70%;
    margin: 40px auto;
    display: flex;

    .row-left{
        width: 70%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;

        .blocco{
            display: flex;
        }
        .blocco-verde{
            width: 70%;
            height: 40px;
            background-color: #55ba59;
            margin: 15px 0px;
            align-items: center;
            padding: 0 20px;
            font-size: 13px;
            display: flex;
            justify-content: space-between;
            border: solid #9af999;
            border-width: 0px 1px 1px 1px;

            .text-verde{
                color: #9af999;
            }

            .text-bianco{
                color: white;
            }

            .text-right{
                color: #9af999;
            }
        }
        .button{
            display: flex;
            width: 30%;

            button{
            width: 100%;
            height: 40px;
            background-color: #55ba59;
            margin: 15px 0px;
            color: white;
            border: solid #9af999;
            border-width: 0px 1px 1px 0px;
            }
        }
        
    }
    .row-right{
        width: 25%;
    }
}

.comic_info-bot{
    width: 100%;
    min-height: 300px;
    background-color: rgb(226, 226, 226);

    .tabelle{
        width: 70%;
        min-height: 300px;
        margin: 0 auto;
        padding-top: 35px;
        display: flex;
        align-items: flex-start;

        table{
            width: 50%;
            border-collapse: collapse;
            margin: 0 30px;

            th{
                text-align: left;
                padding: 5px 0px;
            }

            tr{
                border-bottom: 1px solid black;

                td{
                    padding: 10px 0px;
                }
            }
        }
    }
    
}