@import "./variables";

.contenitore{
    width: 70%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      width: 80px;
      img{
        max-width: 100%;
      }
    }
    nav{
    
      li{
        display: inline-block;
        a{
          margin: 0 5px;
          text-decoration: none;
          color: $coloreBackgroundScuro;
          padding: 35px 5px;
          &.active{
            color: $coloreBlu;
            border-bottom: solid 6px $coloreBlu;
          }
          &:hover{
            color: $coloreBlu;
            border-bottom: solid 6px $coloreBlu;
          }
        }
      }
    }
  }
  .jumbo{
    background-image: url('../../../public/img/jumbotron.jpg');
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    background-size: cover;
  }